{% extends '/layouts/base.html.twig' %}

{% block header %}
    {{ parent()}}
    {% include '/layouts/menu.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ parent() }}
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block body %}
    {% set name = "Client" %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        {% set name = "Admin" %}
    {% endif %}
    {% if app.user %}
        <h1>Edit your profil {{ app.user.userIdentifier }}</h1>
    {% else %}
        <h1>Create new {{ name }}</h1>
    {% endif %}

    <div class="container">
        {{ form_start(form) }}
        <div class="inner">
            {{ form_row(form.login) }}
            {{ form_row(form.password) }}
            {{ form_row(form.name) }}
            {{ form_row(form.first_name) }}
        </div>
        {{ form_row(form.Birth_day) }}
        <button type="submit" class="btn btn-primary">Save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}